/* body {
  background-color: greenyellow;
} */

@charset "UTF-8";

* {
  font-family: "Libre Franklin", sans-serif;
  /*height: 100%; */
}

img {
  width: 35%;

  text-align: center;
}
cabe .cabecalho__menu {
  display: flex; /* Torna os itens flexíveis (em linha) */
  gap: 2px; /* Espaçamento entre os itens */
  padding: 5px;
  /* padding: 21.5px 0;*/
  justify-content: center; /* Centraliza os itens horizontalmente */
  font-family: "Montserrat", sans-serif;

  border: 2px solid #101f22; /* Borda dos links */
  width: 90%; /* Largura dos links */
  text-align: center; /* Alinha o texto ao centro */
  border-radius: 12px; /* Borda arredondada */
  font-size: 1.5rem; /* Tamanho da fonte */
  font-weight: 100;

  text-shadow: 1px 1px 2px black;
}

a {
  text-decoration: none;
  color: white;
  text-align: center; /* Alinha o texto ao centro */

  justify-content: center; /* Espaçamento entre os itens */
  gap: 50px; /* Espaçamento entre os itens */
}

.contacts_lists li a {
  color: blue;
  text-decoration: none;
  list-style-type: none;
  list-style-type: square;
  text-align: center; /* Alinha o texto ao centro */
}

.contacts_list {
  list-style-type: none;
  padding-left: 15px;
  color: blue;
  text-decoration: none;
  text-align: center; /* Alinha o texto ao centro */
}

.photo {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 8%;
}

.photo_2 {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 9%;
}

.photo_3 {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 10%;
}

a {
  align-items: center;
  gap: 10px;
}

main {
  background-image: linear-gradient(to right, #7d8d81, #7d8d81);
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-image: linear-gradient(to right, #976561, #976561);
  font-family: "Libre Franklin", sans-serif;
}

P {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  width: 950px;
  height: 2250px;
  padding: 10px;
  margin: auto;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  color: rgb(228, 55, 11);
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-family: "Libre Franklin", sans-serif;
}

.cabecalho_h {
  color: #2e0a91;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-family: "Libre Franklin", sans-serif;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  color: rgb(228, 48, 20);
  text-align: center;
  text-shadow: 1px 1px 2px black;
}
