.login__interacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.login__interacao > div:first-child {
    text-align: left;
}
  
.login__interacao > div:last-child {
    text-align: right;
}

.login__titulo{
    text-align: center;
    gap: 10px;
}

.login__imagem{
    color: black;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0px;
}

.login__dados{
    color: black;
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 0px;
}

.login__interacao__link {
    color: black;
    font-family: "inter";
    font-weight: 500;
    text-transform: uppercase;
}

.login__interacao__link:hover {
    color: #d31608;
}

.lista__menu__link {
    color: black;
    cursor: pointer;
    font-family: "inter";
    font-weight: 700;
    text-decoration: none; 
}

.lista__menu__link:hover {
    color: #d31608;
}

.lista__login__link {
    color: black;
    cursor: pointer;
    font-family: "inter";
    font-weight: 400;
    text-decoration: none; 
    font-size: 20px;
    padding: 10px;
}

.lista__login__link:hover {
    color: #d31608;
}

.container__botao {
    display: none;
}

.cabecalho__menu__hamburguer {
    background-image: url("../IMG/menu-hamburguer.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 15px;
}

.container__carrinho {
    align-items: center;
    display: flex;
    margin: 0px 25px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lista__menu__login {
    color: black;
    font-family: "inter";
    font-weight: 700;
    text-decoration: none;
}
.lista__menu__login:hover {
    color: #d31608;
}

.imagem__carrinho {
    height: 25px;
    width: 25px;
}

.lista__menu__carrinho {
    color: black;
    font-family: "inter";
    font-weight: 700;
    text-decoration: none;   
}

.lista__menu__carrinho:hover {
    color: #d31608;
}

/* .container__historia {
    color: darkgrey;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
} */

.menu__container__historia {
    flex-direction: column;
    gap: 8px 8px;
}

.menu__container__mensagem {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}


.imagem__mensagem {
    align-self: center;
    width: 320px;
    bottom: 50px;
    position: relative;
}  

.imagem__container__login {
    align-self: center;
    width: 32px;
    height: 36px;
}

.termo__uso{
    color: #000;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 60px;
    height: 25px;
  }

.container__texto {
    border: 2px solid;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;text-align: center;
}

.container__login {
    color: grey;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;
    background-size: cover;
}

.login__texto {
    color: black;
    font-family: "inter";
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.login_placeholder {
    background-color: #F8F0E8;
    color: grey;
    border: 2px solid;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 700;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    gap: 10px;
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;
    background-size: cover;
}

.container__footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background: #90312ACC;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    gap: 35px;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
    .container__footer {
        display: block;
    }
}

.cabecalho__texto__horario {
    font-size: 14px;
    font-weight: 700;
}

.texto__contato {
    font-size: 14px;
    font-weight: 700;
}

.texo__divino__pizzaria {
    font-size: 14px;
    font-weight: 700;
}

.rede__social {
    width: 30px;
    cursor: pointer;
    margin: 0 15px;
    padding: 10px 0;
}

@media screen and (max-width: 760px) {
    .rede__social {
        margin: 0 10px;
    }
}

.cabecalho__logo__pizzadivina {
    bottom: 65px;
    width: 30vh;
    height: 25vh;
    position: relative;
} 

.logo__frame {
    margin-top: 10px;
}

.link__rodape {
    color: white;
    text-decoration: none; 
}

@media screen and (min-width: 760px) {
    .cabecalho__logo__pizzadivina {
    display: inline-block;
    width: 28vh;
    height: 22vh;
    bottom: 35px;
    position: relative;
    }

    .cabecalho {
        padding: 1.75rem 1.5rem;
    }

    .cabecalho__menu__hamburguer {
        display: none;
    }

    .lista__menu {
        display: none;
        display: flex;
        padding: 0.75rem 0.9375rem;
        position: relative;
        top: auto;
    }

    .container__botao:checked~.lista__menu {
        display: flex;
    }

    .menu__container__historia {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }  

    .lista__menu__link {
        font-size: 18px;
    }

    .rede__social__texto {
        font-weight: 700;
    }

    .rede__social {
        width: 30px;
        cursor: pointer;
        margin: 0 15px;
        padding: 10px 0;
    }

    .texto__contato {
        font-family: "inter";
        font-weight: 700;
        font-size: 14px;
    }

    .texto__rede__sociais {
        padding: 10px 0;
    }

    .texo__divino__pizzaria {
        font-family: "inter";
        font-weight: 700;
        font-size: 14px;
        padding: 10px 0;
    }

    .link__rodape {
        color: white;
    }

}