.login__interacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.login__interacao > div {
    font-size: 20px;
    padding: 10px;
}
  
.login__interacao > div:first-child {
    text-align: left;
}
  
.login__interacao > div:last-child {
    text-align: right;
}

.login__titulo{
    text-align: center;
    gap: 10px;
}

.login__dados{
    color: black;
    display: flex;
    gap: 10px;
    font-size: 20px;
    padding: 10px;
}

.login__interacao__link {
    color: black;
    font-family: "inter";
    font-weight: 500;
    text-transform: uppercase;
}

.login__interacao__link:hover {
    color: #d31608;
}

.lista__menu__link {
    color: black;
    cursor: pointer;
    font-family: "inter";
    font-weight: 400;
    text-decoration: none; 
}

.lista__menu__link:hover {
    color: #d31608;
}

.container__botao {
    display: none;
}

.cabecalho__menu__hamburguer {
    background-image: url("../IMG/menu-hamburguer.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 15px;
}

.container__carrinho {
    align-items: center;
    display: flex;
    margin: 0px 25px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lista__menu__login {
    color: black;
    font-family: "inter";
    font-weight: 500;
    text-decoration: none;
}
.lista__menu__login:hover {
    color: #d31608;
}

.imagem__carrinho {
    height: 25px;
    width: 25px;
}

.lista__menu__carrinho {
    color: black;
    font-family: "inter";
    font-weight: 500;
    text-decoration: none;   
}

.lista__menu__carrinho:hover {
    color: #d31608;
}

.container__historia {
    color: darkgrey;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
    padding: 1.75rem 1.5rem;
}

.menu__container__historia {
    flex-direction: column;
    gap: 8px 8px;
}

.menu__container__mensagem {
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
}

.imagem__pizzaiolo {
    align-self: center;
    width: 185px;
    height: 135px;
}

.imagem__mensagem {
    align-self: center;
    width: 375px;
}

.imagem__container__login {
    align-self: center;
    width: 32px;
    height: 36px;
}

.container__texto {
    background-color: #CCC4BCCC;
    color: grey;
    border: 2px solid;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;
}

.container__login {
    color: grey;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    gap: 10px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;
    background-size: cover;
}

.historia__cabecalho__texto {
    color: #90312ACC;
    font-family: "martel";
    font-weight: 400;
    font-size: 22px;
}

.login__texto {
    color: #F8F0E8;
    font-family: "martel";
    font-weight: 400;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.login_placeholder {
    background-color: #D9D9D9;
    color: grey;
    border: 2px solid;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 20px;
    box-sizing: border-box;
    text-transform: uppercase;
    gap: 10px;
    flex-direction: row;
    flex-grow: 1;
    flex-direction: column;
    background-size: cover;
}

strong {
    color: darkslategray;
    font-weight: 700;
}

h3 {
    color: #90312ACC;
    font-weight: 400;
    font-size: 20px;
}

.container__localizacao {
    color: grey;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
    padding: 2.75rem 1.5rem;
    text-transform: uppercase;
}

.menu__container__localizacao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.container__funcionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #90312ACC;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase; 
}

.cabecalho__funcionamento__texto {
    font-size: 14px;
    font-weight: 700;
}

.cabecalho__dias {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.cabecalho__logo__pizzadivina {
    bottom: 65px;
    width: 30vh;
    height: 25vh;
    position: relative;
}

.rodape__localizacao {
    margin-top: 10px;
}

.logo__frame {
    margin-top: 10px;
}

.link__rodape {
    color: white;
}

.talento__cloud {
    text-align: center;
    color:black;
    font-weight: 500;
    margin-top: 10px;
}

@media screen and (min-width: 980px) {
  
    .cabecalho {
        padding: 1.75rem 1.5rem;
    }
    .cabecalho__menu__hamburguer {
        display: none;
    }

    .lista__menu {
        display: none;
        display: flex;
        padding: 0.75rem 0.9375rem;
        position: relative;
        top: auto;
    }

    .container__botao:checked~.lista__menu {
        display: flex;
    }

    .container__historia {
        display: flex;
        justify-content: center;
    }


    .menu__container__historia {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 80px;
        width: 100%;
    }

    .cabecalho__funcionamento__texto {
        /* width: 100%; */
        position: relative;
        right: 45%;
    }

    .container__texto {
        display: flex;
        align-items: center;
        height: 494px;
        width: 650px;
        
    }

    .login__dados {
        width: 406px;
        display: flex;
        align-items: center;
    }

    .menu__container__funcionamento {
        position: relative;
        right: 46%;
    }

    .rodape__localizacao {
        bottom: 42px;
        color: white;
        width: 17%;
        left: 40%;
        position: relative;
    }

    .link__rodape {
        color: white;
    }

    .talento__cloud {
        text-align: center;
        display: flex;
        position: relative;
        
    }
}
    




    
