/* body {
  background-color: greenyellow;
} */

@charset "UTF-8";

* {
  font-family: "Libre Franklin", sans-serif;
  /*height: 100%; */
}

img {
  width: 35%;

  text-align: center;
}

.cabecalho__menu {
  display: flex; /* Torna os itens flexíveis (em linha) */
  gap: 100px; /* Espaçamento entre os itens */
  padding: 2px;
  /* padding: 21.5px 0;*/
  justify-content: center; /* Centraliza os itens horizontalmente */
  font-family: "Montserrat", sans-serif;

  border: 2px solid #101f22; /* Borda dos links */
  width: 90%; /* Largura dos links */
  text-align: center; /* Alinha o texto ao centro */
  border-radius: 12px; /* Borda arredondada */
  font-size: 1.5rem; /* Tamanho da fonte */
  font-weight: 600;

  text-shadow: 1px 1px 2px black;
}

a {
  text-decoration: none;
  color: rgb(20, 19, 20);
  text-align: center; /* Alinha o texto ao centro */

  justify-content: center; /* Espaçamento entre os itens */
  gap: 100px; /* Espaçamento entre os itens */
}

.photo {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 8%;
}

.photo_2 {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 9%;
}

.photo_3 {
  border: 1px solid #505050;
  border-radius: 50%;
  width: 10%;
}

a {
  align-items: center;
  gap: 10px;
}

main {
  background-image: linear-gradient(to right, #ffba7a, #f3ddc8);
  font-family: "Libre Franklin", sans-serif;
}

body {
  background-image: linear-gradient(to right, #976561, #976561);
  font-family: "Libre Franklin", sans-serif;
}

P {
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}
/*
main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;

  height: 3100px;
  padding: 10px;
  min-width: 280px;
  max-width: 997px;
  margin: auto;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}*/

/*width: 950px; */

main {
  background-color: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
  /*width: 950px;  */
  height: 3250px;
  padding: 10px;
  min-width: 376px;
  max-width: 997px;
  margin: auto;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
}

h1 {
  color: #0b4645;
  text-align: center;
  text-shadow: 1px 1px 2px black;

  font-family: "Libre Franklin", sans-serif;
  font-family: "Shadows Into Light", cursive;
  font-family: "Tangerine", cursive;

  font-size: 3.5rem; /* Tamanho da fonte */
}

.cabecalho_h {
  color: #2e0a91;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  font-family: "Libre Franklin", sans-serif;
}

h2 {
  font-family: "Libre Franklin", sans-serif;
  color: #913b0a;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

h3 {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 2px black;

  font-size: 1.5rem; /* Tamanho da fonte */
}

Link_teste {
  @import url("https://fonts.googleapis.com/css2?family=Bangers&family=Dancing+Script:wght@600&display=swap");
}
