.cabecalho {
    background:#F8F0E8;
    display: flex;
    justify-content: space-between;
    height: 50px;
    position: relative;
}

.cabecalho__logo {
    display: none;
} 

.container {
    display: flex;
    align-items: center;
}

.lista__menu {
    display: none;
    font-size: 14px;
    position: absolute;
    width: 25vw;
    top: 100%;
}

.container__botao:checked~.lista__menu {
    display: block;
    padding: 0px 9px;
}

.lista__menu__informacoes, .lista__menu__item {
    padding: 1em;
    background:#F8F0E8;
}

.lista__menu__informacoes {
    color: #d31608;
    font-family: "inter";
    font-weight: 400;
    text-transform: uppercase;
}

.lista__menu__link {
    color: black;
    cursor: pointer;
    font-family: "inter";
    font-weight: 400;
    text-decoration: none; 
}

.lista__menu__link:hover {
    color: #d31608;
}

.container__botao {
    display: none;
}

.cabecalho__menu__hamburguer {
    background-image: url("../IMG/menu-hamburguer.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 15px;
}

.container__carrinho {
    align-items: center;
    display: flex;
    margin: 0px 25px;
}

.login {
    display: flex;
    align-items: center;
    gap: 10px;
}

.lista__menu__login {
    color: black;
    font-family: "inter";
    font-weight: 500;
    text-decoration: none;
}
.lista__menu__login:hover {
    color: #d31608;
}

.imagem__carrinho {
    height: 25px;
    width: 25px;
}

.lista__menu__carrinho {
    color: black;
    font-family: "inter";
    font-weight: 500;
    text-decoration: none;   
}

.lista__menu__carrinho:hover {
    color: #d31608;
}

.video {
    background-color: #F8F0E8;
    opacity: 0.8;
    padding: 0.75rem 1.5rem;
    transition: 400ms;
}

.video:hover {
    opacity: 1;
} 

.iframe__video {
    box-shadow: 10px 10px black;
}

.container__historia {
    color: darkgrey;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
    padding: 1.75rem 1.5rem;
    text-transform: uppercase;
}

.menu__container__historia {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imagem__pizzaiolo {
    align-self: center;
    width: 185px;
    height: 135px;
}

.container__texto {
    color: grey;
    border: 2px solid;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 2.75rem 1.5rem;
    text-transform: uppercase;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.historia__cabecalho__texto {
    color: #90312ACC;
    font-family: "martel";
    font-weight: 400;
    font-size: 22px;
}

strong {
    color: darkslategray;
    font-weight: 700;
}

h3 {
    color: #90312ACC;
    font-weight: 400;
    font-size: 20px;
}

.container__localizacao {
    color: grey;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
    padding: 2.75rem 1.5rem;
    text-transform: uppercase;
}

.menu__container__localizacao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.container__funcionamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background: #90312ACC;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    height: 141px;
}

.cabecalho__funcionamento__texto {
    font-size: 14px;
    font-weight: 700;
}

.cabecalho__dias {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.rodape__localizacao {
    margin-top: 10px;
}

.logo__frame {
    margin-top: 10px;
}

.link__rodape {
    color: white;
}

.talento__cloud {
    text-align: center;
    color:black;
    font-weight: 500;
    margin-top: 10px;
}

@media screen and (min-width: 980px) {
  
    .cabecalho {
        padding: 1.75rem 1.5rem;
    }

    .cabecalho__logo {
        display: inline-block; 
        width: 25vh;
        height: 20vh;
        bottom: 50px;
        position: relative;
    
    } 

    .cabecalho__menu__hamburguer {
        display: none;
    }

    .lista__menu {
        display: none;
        display: flex;
        padding: 0.75rem 0.9375rem;
        position: relative;
        top: auto;
    }

    .container__botao:checked~.lista__menu {
        display: flex;
    }

    .menu__container__historia {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .imagem__pizzaiolo {
        width: 25%;
        height: 25%;
    }

    .cabecalho__funcionamento__texto {
        position: relative;
        right: 45%;
    }

    .menu__container__funcionamento {
        position: relative;
        right: 46%;
    }

    .rodape__localizacao {
        bottom: 42px;
        color: white;
        width: 17%;
        left: 40%;
        position: relative;
    }

    .link__rodape {
        color: white;
    }

    .talento__cloud {
        text-align: center;
        display: flex;
        position: relative;
    }
}
    




    
