body {
    background: #F8F0E8;
}

.cabecalho {
    background:#F8F0E8;
    display: flex;
    justify-content: space-between;
    height: 80px;
    position: relative;
    padding: 0.75rem 1.5rem;
}

.cabecalho__logo__pizzadivina {
    display: none;
} 

.container {
    display: flex;
    align-items: center;
}

.lista__menu {
    display: none;
    font-size: 14px;
    position: absolute;
    width: 25vw;
}

.container__historia__texto {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

.container__botao:checked~.lista__menu {
    display: block;
    padding: 0px 9px;
}

.lista__menu__informacoes, .lista__menu__item {
    padding: 1em;
    background:#F8F0E8;
}

.lista__menu__link {
    color: black;
    cursor: pointer;
    font-family: "inter";
    font-weight: 700;
    text-decoration: none; 
}

.lista__menu__link:hover {
    color: #d31608;
}

.container__botao {
    display: none;
}

.cabecalho__menu__hamburguer {
    background-image: url("../IMG/menu-hamburguer.png");
    background-repeat: no-repeat;
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0px 15px;
}

.container__carrinho {
    align-items: center;
    display: flex;
    margin: 0px 25px;
}

.login {
    display: flex;
    align-items: center;
    gap: 15px;
}

.lista__menu__login {
    color: black;
    font-family: "inter";
    font-weight: 700;
    text-decoration: none;
}
.lista__menu__login:hover {
    color: #d31608;
}

.imagem__carrinho {
    height: 25px;
    width: 25px;
}

.lista__menu__carrinho {
    color: black;
    font-family: "inter";
    font-weight: 700;
    text-decoration: none;   
}

.lista__menu__carrinho:hover {
    color: #d31608;
}

.video {
    background-color: #F8F0E8;
    opacity: 0.8;
    transition: 400ms;
    position: relative;
    top: 45px;
    padding: 0.75rem 1.5rem;
}

.video:hover {
    opacity: 1;
} 

.iframe__video {
    margin: 5px 0px;
    box-shadow: 10px 10px black;
}

.btn__topo {
    background-color: #90312ACC;
    bottom: 184px;
    border-radius: 18px;
    width: 5vh;
    position: fixed;
    right: 2%;
}

.container__historia {
    color: black;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
    padding: 2.75rem 1.5rem;
    text-transform: uppercase;
}

.menu__container__historia {
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    top: 15px;
}

.imagem__pizzaiolo {
    align-self: center;
    width: 185px;
    height: 135px;
}

.container__texto {
    color: black;
    border: 2px solid;
    border-radius: 10px;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    padding: 2.75rem 1.5rem;
    text-transform: uppercase;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.historia__cabecalho__texto {
    color: black;
    font-family: "inter";
    font-weight: 700;
    font-size: 22px;
}

h3 {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

.container__localizacao {
    color: black;
    background: #F8F0E8;
    font-family: "inter";
    font-weight: 700;
    padding: 2.75rem 1.5rem;
    text-transform: uppercase;
}

.menu__container__localizacao {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.container__footer {
    display: flex;
    justify-content: space-between;
    color: white;
    background: #90312ACC;
    font-family: "inter";
    font-weight: 400;
    font-size: 12px;
    gap: 35px;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
}

@media screen and (max-width: 760px) {
    .container__footer {
        display: block;
    }
}

.cabecalho__texto__horario {
    font-size: 14px;
    font-weight: 700;
}

.texto__contato {
    font-size: 14px;
    font-weight: 700;
}

.texo__divino__pizzaria {
    color: white;
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
}

.rede__social {
    width: 30px;
    cursor: pointer;
}

.cabecalho__funcionamento__texto {
    font-size: 14px;
    font-weight: 700;
}

.texto__dias__funcionamento {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.texto__horario__funcionamento {
    margin-top: 10px;
}

.rede__social {
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
    padding: 0 10px;
}

.rede__social__texto {
    font-weight: 700;
}

.logo__frame {
    margin-top: 10px;
}

.link__rodape {
    color: white;
    text-decoration: none;
}

.cabecalho__logo__pizzadivina {
    bottom: 65px;
    width: 30vh;
    height: 25vh;
    position: relative;
}

@media screen and (min-width: 760px) {
    .cabecalho {
        padding: 1.75rem 1.5rem;
    }

    .cabecalho__logo__pizzadivina {
        display: inline-block; 
        width: 28vh;
        height: 22vh;
        bottom: 35px;
        position: relative;
    } 

    .cabecalho__menu__hamburguer {
        display: none;
    }

    .lista__menu {
        display: none;
        display: flex;
        padding: 0.75rem 0.9375rem;
        position: relative;
        top: auto;
    }

    .container__botao:checked~.lista__menu {
        display: flex;
    }

    .lista__menu__link {
        font-size: 18px;
    }

    .video {
        top: 0;
        padding: 0.75rem 1.5rem;
    }

    .container__historia {
        padding: 0;
    }

    .menu__container__historia {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 0.75rem 1.5rem;
    }

    .imagem__pizzaiolo {
        width: 25%;
        height: 25%;
    }

    .rede__social__texto {
        font-weight: 700;
    }

    .rede__social {
        width: 30px;
        cursor: pointer;
        margin: 0 10px;
        padding: 10px 0;
    }

    .texto__contato {
        font-family: "inter";
        font-weight: 700;
        font-size: 14px;
    }

    .texto__rede__sociais {
        padding: 10px 0;
    }

    .texo__divino__pizzaria {
        color: white;
        font-family: "inter";
        font-weight: 700;
        font-size: 14px;
        padding: 10px 0;
        text-decoration: underline;
    } 
    
    .rodape__localizacao {
        position: relative;
        bottom: 11px;

    }
} 

